# Core ML stack (CPU Only)
--index-url https://download.pytorch.org/whl/cpu
torch==2.6.0
torchvision==0.21.0
torchxrayvision

# Support Libraries (Stability ranges)
numpy
pandas
scikit-learn
Pillow

# Experiment tracking (Azure 2026 Compatible)
mlflow==2.7.1
azureml-core==1.61.0.post1
azureml-mlflow
