# El resource group y el workspace ya fueron configurados en el entorno lcoal.
name: Manually trigger an Azure Machine Learning job

on:
  workflow_dispatch:

jobs:
  train:
    runs-on: self-hosted
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    
    - name: Verify Azure Login
      run: az account show
    
    - name: Install az ml extension
      run: az extension add -n ml -y
      continue-on-error: true
    
    - name: Submit Training Job
      run: az ml job create ` 
        --file src/job.yml `
        --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} `
        --workspace-name ${{ secrets.AZURE_WORKSPACE_NAME }} 