name: Trigger to test Feature-based development with GiHub Actions

on:
  pull_request:
    branches:
      - main

jobs:
  main:
    runs-on: self-hosted
    steps:
    - name: Print to console
      run:  echo "Will add code checks here in next challenge"