name: Azure ML Dev to Prod Training

on:
  push:
    branches:
      - main

jobs:
  experiment:
    name: Experiment training (DEV)
    runs-on: self-hosted

    environment: dev

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # self-host is already authenticated 
      # Also, az CLI utility is installed in self-host

      - name: Install Azure ML CLI extension
        run: az extension add -n ml -y

      - name: Run Azure ML experiment job
        run: |
          az ml job create \
            --file jobs/train-dev.yml \
            --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
            --workspace-name ${{ secrets.AZURE_WORKSPACE_NAME }} \
            --stream
  production:
    name: Production training (PROD)
    runs-on: self-hosted

    needs: experiment
    if: ${{ needs.experiment.result == 'success' }}

    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # self-host is already authenticated 
      # Also, az CLI utility is installed in self-host
      - name: Install Azure ML CLI extension
        run: az extension add -n ml -y

      - name: Run Azure ML production job
        run: |
          az ml job create \
            --file jobs/train-prod.yml \
            --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
            --workspace-name ${{ secrets.AZURE_WORKSPACE_NAME }} \
            --stream
